<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Bonjour</h1>
</header>
<main>
    {% if category.published %}
    <article style="background-color:{{category.color}};">
        <h2>{{category.title}}</h2>
        <p> {{category.description}}</p>
    </article>
    {% else %}
    <p>L'article n'est pas publié</p>
    {% endif %}


</main>
<footer>

</footer>

</body>
</html>