{% include"_header.html.twig" %}

    {% if category.published %}
    <article style="background-color:{{category.color}};">
        <h2>{{category.title}}</h2>
        <p> {{category.description}}</p>
    </article>
    {% else %}
    <p>L'article n'est pas publié</p>
    {% endif %}

{% include"_footer.html.twig" %}