{% include"_header.html.twig" %}

    {% if personalities.published %}
        <article style="background-color: {{ personalities.color }};">
            <img src="{{ personalities.image }}" alt="tête de star" style="width:20%">
            <h2>{{  personalities.title }}</h2>
            <p>{{  personalities.publishedDate|date("m/d/Y") }}</p>
        </article>
    {% else %}
        <p>L'article n'est pas publié</p>
    {% endif %}

{% include"_footer.html.twig" %}
