{% include"_header.html.twig" %}

    <main>
       {% for star in stars  %}
           {% if star.published %}
            <article style="background-color: {{ star.color }};">
                <img src="{{ star.image }}" alt="tête de star" style="width:20%">
                <h2>{{ star.title }}</h2>
                <p>{{ star.publishedDate|date("m/d/Y") }}</p>
            </article>
           {% else %}
               <p>L'article n'est pas publié</p>
           {% endif %}
       {% endfor %}
    </main>

{% include"_footer.html.twig" %}